@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,500i,600,700,800i,900i&display=swap');

:root {
    --bs-body-font-family: Montserrat, serif;
    --font-size: 0.813rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: max-content;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link {
    font-size: var(--font-size);
}

/* Para tamaños de pantalla menores a 992px (large) */
@media (max-width: 992px) {
    .dropdown {
        width: 100%;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        width: auto;
    }
}