@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,500i,600,700,800i,900i&display=swap');

:root {
    --bs-body-font-family: Montserrat, serif;
    --font-size: 0.813rem;
    --topbar-height: 50px;
    --header-height: 80px;
}

.lazyload {
    opacity: 0;
    transition: opacity 0.3s;
}

.lazyloaded {
    opacity: 1;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: max-content;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link {
    font-size: var(--font-size);
}

#topbar {
    position: sticky;
    top: 0;
    transition: transform 0.3s ease-in-out;
    height: var(--topbar-height);
}

#topbar.hide, #facto_header.move-up {
    transform: translateY(calc(var(--topbar-height) * -1));
}

#topbar.show, #facto_header.move-down {
    transform: translateY(0);
}

#facto_header {
    position: sticky;
    top: var(--topbar-height);
    width: 100%;
    height: var(--header-height);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.banner-bg {
    margin-top: calc(var(--header-height) * -1);
}

.banner-content {
    margin-top: var(--header-height);
}

.card {
    --bs-card-bg: rgba(0,0,0,.3);
}


/* Para tamaños de pantalla menores a 992px (large) */
@media (max-width: 992px) {
    .dropdown {
        width: 100%;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        width: auto;
    }
}